set timeout=5
set default=0

menuentry "Kurono OS Hybrid Kernel v1.0.0" {
    linux /EFI/KURONO/vmlinuz console=ttyS0 rdinit=/init rw
    initrd /EFI/KURONO/initramfs.cpio.gz
}

menuentry "Kurono OS (Recovery Mode)" {
    linux /EFI/KURONO/vmlinuz console=ttyS0 rdinit=/bin/sh rw
    initrd /EFI/KURONO/initramfs.cpio.gz
}

menuentry "Kurono OS (Debug Mode)" {
    linux /EFI/KURONO/vmlinuz console=ttyS0 rdinit=/init rw debug ignore_loglevel
    initrd /EFI/KURONO/initramfs.cpio.gz
}