set timeout=10
set default=0
set pager=1

insmod efi_gop
insmod efi_uga
insmod gfxterm
insmod png
insmod fat
insmod part_msdos
insmod part_gpt
insmod multiboot
insmod vbe

# Set graphics mode
set gfxmode=1024x768x32
set gfxpayload=keep
terminal_output gfxterm

search --file --set=root /EFI/KURONO/Kurono_kernel

menuentry 'Kurono OS (Kurono_kernel)' {
    echo 'Loading Kurono OS (Kurono_kernel)...'
    multiboot /EFI/KURONO/Kurono_kernel
    module /EFI/KURONO/logo.raw logo
    boot
}

menuentry 'Kurono OS (Kurono_kernel.bin)' {
    echo 'Loading /EFI/KURONO/Kurono_kernel.bin...'
    multiboot /EFI/KURONO/Kurono_kernel.bin
    boot
}

menuentry 'Kurono OS (Legacy kernel.elf)' {
    echo 'Loading legacy /EFI/KURONO/kernel.elf...'
    multiboot /EFI/KURONO/kernel.elf
    boot
}

menuentry 'Debug: List Files' {
    echo 'Current root: ' $root
    echo 'Listing /:'
    ls /
    echo 'Listing /EFI/KURONO/:'
    ls /EFI/KURONO/
    echo 'Press Enter to continue...'
    read
}

menuentry 'Reboot' {
    reboot
}
