set timeout=1
set timeout_style=menu
set default=0

search --file /EFI/BOOT/grub.cfg --set=root
set root=$root

insmod efi_gop
insmod all_video
insmod gfxterm
insmod png
insmod jpeg
insmod multiboot
set gfxmode=1920x1080,auto
set gfxpayload=keep
terminal_output gfxterm

set color_normal=white/black
set color_highlight=yellow/black

menuentry "Kurono OS" {
    multiboot ($root)/EFI/KURONO/Kurono_kernel.elf
    module ($root)/EFI/KURONO/logo.png logo
    module ($root)/EFI/KURONO/logo.raw logo_raw
    module ($root)/EFI/KURONO/wallpaper.png wallpaper
    module ($root)/EFI/KURONO/font.ttf font
    boot
}
