set timeout=5
set default=0
set gfxmode=1920x1080x32

insmod efi_gop
insmod all_video
insmod gfxterm
insmod png
insmod fat
insmod part_msdos
insmod multiboot

menuentry 'Kurono OS' {
  set gfxpayload=keep
  terminal_output gfxterm
  search --file --set=root /EFI/KURONO/Kurono_kernel.elf
  echo Found kernel at ($root)/EFI/KURONO/Kurono_kernel.elf
  multiboot ($root)/EFI/KURONO/Kurono_kernel.elf
  module ($root)/EFI/KURONO/logo.png logo
  module ($root)/EFI/KURONO/logo.raw logo_raw
  module ($root)/EFI/KURONO/wallpaper.png wallpaper
  module ($root)/EFI/KURONO/font.ttf font
  boot
}
